<div class="container mt-5 col-6 jumbotron align-content-center justify-content-center">
    <h1>Add Category</h1>
    <form method="post" action="/home/submitcategory">
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" type="text" class="form-control form-control-lg" placeholder="Name" />
        </div>
        <button class="btn btn-primary btn-block">Save</button>
    </form>
</div>
