
@model GetByCategoryViewModel

<div class="container mt-5">
    <h1>To Do Items:</h1>
    @if (Model.ItemsByCategory.Count == 0)
    {
        <div class="alert alert-primary mt-5">
            <h3 class="text-center">There are no outstanding items for this category!!!</h3>
        </div>
    }
    else
    {
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Category</td>
                    <td>Date Due</td>
                    <td>Date Completed</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Item i in Model.ItemsByCategory)
                {
                    <tr>
                        <td>@i.Title</td>
                        <td>@Model.Category.Name</td>
                        <td>@i.DateDue.ToShortDateString()</td>
                        <td>@i.DateCompeted</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

